# Second Assignment

## Question A

In [30]:
import pickle 
import pandas as pd

In [31]:
# Open AS dataset

with open('Data/AS_dataset.pkl', 'rb') as AS_data:
    data2 = pickle.load(AS_data)

In [5]:
# Filter AS dataset on EU codes

countryCodesEU = ["AT", "BE", "BG", "CY", "CZ", "DE", "DK", "EE", "ES", "FI",
"FR", "GB", "GR", "HR", "HU", "IE", "IT", "LT", "LU", "LV",
"MT", "NL", "PL", "PT", "RO", "SE", "SI", "SK"]


EU_data = data2[data2['Country'].isin(countryCodesEU)]
EU_data3 = EU_data[EU_data['type'] == 'hosting']

In [6]:
len(EU_data3)

649

In [7]:
# Find unique ASN's from dataset AS

ASN_COL = EU_data3['ASN']
ASN_COL2 = ASN_COL.unique()

In [8]:
# Unique ASN's, for every entry there is a different ASN

print(len(ASN_COL2))
print(len(ASN_COL))

649
649

In [32]:
# Open probe dataset

with open('Data/probe_dataset.pkl', 'rb') as probe_data:
    data = pickle.load(probe_data)

In [11]:
# Filter probes in probe dataset that have a corresponding AS that occur in AS dataset with Europe AS'es


probs = data[data['ASN'].isin(ASN_COL)]

In [12]:
# Turns out to be 6148 probes with their corresponding ASN occur in AS dataset
# Not every prob has an unique ASN

len(probs)
probs.head()

   prb_id      ASN
27     57  AS20621
42     92  AS12859
47    107  AS25596
61    142  AS12637
62    144  AS12637

In [13]:
prob_ASN = probs['ASN']

In [14]:
len(prob_ASN.unique())

166

In [15]:
# Multiple probes can refer to one AS

prob_ASN.value_counts()

AS35540     34
AS25596     28
AS16276     15
AS24940     10
AS60876      8
AS203953     6
AS41095      6
AS12859      4
AS197540     4
AS15954      4
AS61157      4
AS39647      4
AS16347      4
AS29014      4
AS197595     4
AS13287      3
AS9211       3
AS24961      3
AS15987      3
AS39923      3
AS8304       3
AS48854      3
AS60781      3
AS197019     3
AS201971     3
AS39405      3
AS51468      3
AS12876      3
AS16245      3
AS29119      3
            ..
AS200062     1
AS47447      1
AS42160      1
AS41678      1
AS29066      1
AS196745     1
AS12552      1
AS41075      1
AS33876      1
AS5521       1
AS25369      1
AS15510      1
AS30962      1
AS34788      1
AS61211      1
AS42699      1
AS15826      1
AS21503      1
AS48403      1
AS205544     1
AS198651     1
AS39704      1
AS39458      1
AS51862      1
AS31727      1
AS49604      1
AS25542      1
AS61272      1
AS29278      1
AS201525     1
Name: ASN, Length: 166, dtype: int64

In [16]:
len(prob_ASN)

366

In [17]:
# ASN can have multiple probs, therefore amount reduces

EU_Data2 = EU_data[EU_data['ASN'].isin(prob_ASN)]
len(EU_Data2)
# EU_Data2.head(10)

166

In [18]:
EU_Data2["type"].value_counts()

hosting    166
Name: type, dtype: int64

In [19]:
EU_ASN = EU_Data2[EU_Data2["type"] == "hosting"]

In [20]:
len(EU_ASN)

166

In [21]:
EU_ASN.head()

          ASN Country                        Name  NumIPs     type
3973  AS47692      AT                 Nessus GmbH  30,720  hosting
4022   AS5404      AT  conova communications GmbH   8,448  hosting
5816  AS34762      BE                  Combell NV  98,048  hosting
5832  AS42160      BE                      lcp nv  15,360  hosting
5840  AS39923      BE         Unix-Solutions BVBA   9,728  hosting

In [22]:
# Algorithm for splitting strings to ints in order to make them able to sort correctly

import re

numbers = []

for val in EU_ASN["ASN"]:
    numbers.append(int(re.sub("[^0-9]", "", val)))

In [23]:
# Create new column that has accesible numbers to sort

EU_ASN["SortValue"] = numbers

In [24]:
# Sort in ascending order by new column 'SortValue'

EU_ASN_p = EU_ASN.sort_values(by ='SortValue')

# Check whether new dataset is indeed sorted as intended

EU_ASN_p.head()

,ASN,Country,Name,NumIPs,type,SortValue
4022,AS5404,AT,conova communications GmbH,"8,448",hosting,5404
18697,AS5430,DE,freenet Datenkommunikations GmbH,"722,432",hosting,5430
18895,AS5521,DE,PlusServer GmbH,"22,528",hosting,5521
18719,AS6724,DE,Strato AG,"166,144",hosting,6724
16715,AS8304,FR,Ecritel SARL,"56,832",hosting,8304

In [25]:
# Print first 3

EU_ASN_p.head(3)

,ASN,Country,Name,NumIPs,type,SortValue
4022,AS5404,AT,conova communications GmbH,"8,448",hosting,5404
18697,AS5430,DE,freenet Datenkommunikations GmbH,"722,432",hosting,5430
18895,AS5521,DE,PlusServer GmbH,"22,528",hosting,5521

In [26]:
# Print last 3

EU_ASN_p.tail(3)

            ASN Country                 Name  NumIPs     type  SortValue
15377  AS203953      DK            Hiper A/S  17,408  hosting     203953
54697  AS205544      GB  LEASEWEB UK LIMITED  12,032  hosting     205544
19599  AS205766      DE         Jonas Pasche   1,792  hosting     205766

**Below this point was just code out of curiousity. It is not relevant for the assignment.**

In [27]:
# See which instances in NL provide Autonomous Systems with type hosting

EU_ASN_p[EU_ASN_p["Country"] == "NL"]

,ASN,Country,Name,NumIPs,type,SortValue
34736,AS8315,NL,Sentia Netherlands BV,"38,656",hosting,8315
34714,AS12859,NL,BIT BV,"66,816",hosting,12859
34678,AS15879,NL,KPN Internedservices B.V.,"168,960",hosting,15879
34751,AS20559,NL,Fundaments B.V.,"27,136",hosting,20559
34682,AS20857,NL,Transip B.V.,"140,032",hosting,20857
34791,AS24875,NL,NovoServe B.V.,"14,848",hosting,24875
34778,AS25151,NL,Cyso Management B.V.,"16,640",hosting,25151
34747,AS25542,NL,Netspider Group B.V.,"31,232",hosting,25542
34773,AS25596,NL,Cambrium IT Services B.V.,"18,432",hosting,25596
34724,AS28878,NL,Signet B.V.,"54,272",hosting,28878
34772,AS31673,NL,Uniserver Internet B.V.,"18,432",hosting,31673
34688,AS39647,NL,Within Reach Group B.V.,"130,048",hosting,39647
34776,AS39704,NL,CJ2 Hosting B.V.,"17,664",hosting,39704
34677,AS41095,NL,IPTP LTD,"171,008",hosting,41095
34761,AS41887,NL,Prolocation B.V.,"22,784",hosting,41887
34841,AS42093,NL,InterRacks C.V.,"8,192",hosting,42093
34699,AS43350,NL,NForce Entertainment B.V.,"90,112",hosting,43350
34737,AS47869,NL,Ellada Projects B.V. trading as Netrouting,"38,400",hosting,47869
34722,AS49981,NL,WorldStream B.V.,"64,512",hosting,49981
34692,AS50673,NL,Serverius Holding B.V.,"105,472",hosting,50673
34735,AS51088,NL,A2B IP B.V.,"38,912",hosting,51088
34790,AS60144,NL,3W Infra B.V.,"15,104",hosting,60144
34665,AS60781,NL,LeaseWeb Netherlands B.V.,"434,176",hosting,60781

In [28]:
# Sum number of IP's just out of curiosity

sum = 0

for i in EU_ASN_p["NumIPs"].values:
    sum += int(i.replace(',', ''))

print(len(EU_ASN_p["NumIPs"]))
print(sum)

166
14601984

In [29]:
# Check whether no values are gone

EU_ASN_p.count()

ASN          166
Country      166
Name         166
NumIPs       166
type         166
SortValue    166
dtype: int64