In [1]:
#Importing necessary libraries
import pandas as pd
import timeit
from itertools import combinations 
import multiprocessing as mp
import time
import numpy as np
import math

In [2]:
#Read the country - ASN matrix file
filename = "final-v2"
df_fin = pd.read_csv("Data/WrittenData/output-df-" + filename + ".txt", sep=",", header=None)
df_fin.columns = ["ASN","to_IP","latency", "Country"]

In [3]:
df_final = df_fin.pivot_table('latency', 'Country', 'ASN')

In [4]:
df = pd.DataFrame(df_final)
print(df.min())

ASN
AS12552      18.534644
AS12637       9.629652
AS12676       8.860601
AS12824       7.690545
AS12859       4.008415
AS12876       5.202024
AS12993       0.962479
AS13287       8.105701
AS15401      13.821171
AS15510      10.032219
AS15598       8.474318
AS15685       1.169748
AS15699       7.258456
AS15817      14.708679
AS15826      20.070785
AS15879       4.843850
AS15954       3.719392
AS15987      19.421554
AS16125       4.759442
AS16245       3.410800
AS16276      43.160442
AS16347      11.569609
AS196745     16.424801
AS197019      6.074332
AS197540     11.189430
AS197595     15.432857
AS198068      2.831768
AS198171      3.612339
AS198452      3.426078
AS198651      5.511574
               ...
AS50957       5.457116
AS51088       3.781052
AS51167      12.578684
AS51468       8.766206
AS51815       4.127555
AS51862       8.600476
AS5404        9.034266
AS5430        7.915172
AS5521       10.725613
AS59729      12.448835
AS59816      15.977985
AS60144       3.143132
AS60362       3.012911
AS60610       3.732385
AS60781       3.975843
AS60876       4.280619
AS61138     152.308552
AS61157       9.806928
AS61189      10.323455
AS61211      17.391297
AS61272       6.963156
AS62000       7.102464
AS62282       0.693350
AS62416       1.729172
AS6724       13.953968
AS8304       10.886749
AS8315        2.550157
AS8560        9.298280
AS8893       13.000398
AS9211       10.063764
Length: 163, dtype: float64

In [5]:
df

ASN,AS12552,AS12637,AS12676,AS12824,AS12859,AS12876,AS12993,AS13287,AS15401,AS15510,...,AS61272,AS62000,AS62282,AS62416,AS6724,AS8304,AS8315,AS8560,AS8893,AS9211
Country,,,,,,,,,,,,,,,,,,,,,
Austria,36.619357,41.767681,26.752958,69.742375,20.700903,23.581590,76.030970,28.567640,29.179260,86.795424,...,25.025426,30.225441,92.248862,65.340133,27.720250,83.395871,17.718057,16.038609,32.706182,60.773717
Belgium,50.259722,71.802510,12.456738,30.749242,10.999918,7.454970,35.651291,34.380554,16.864881,35.439629,...,30.459532,11.855867,28.136988,39.106969,18.569430,13.062580,31.738229,9.298280,18.454953,10.063764
Bulgaria,NaN,NaN,37.829343,37.680070,41.307183,NaN,59.449729,NaN,49.284187,54.443460,...,52.379982,40.181855,NaN,68.995896,45.403018,NaN,42.606843,35.238316,41.146558,34.102427
Croatia,NaN,18.530777,28.010374,NaN,29.112300,NaN,NaN,NaN,NaN,NaN,...,NaN,22.432474,NaN,56.460065,50.835469,NaN,NaN,29.258586,33.511693,NaN
Cyprus,NaN,NaN,143.658009,NaN,140.625904,NaN,NaN,143.423033,NaN,NaN,...,NaN,136.160994,NaN,144.597993,150.948461,NaN,NaN,147.901064,148.636264,NaN
Czechia,NaN,NaN,14.394430,NaN,19.078124,NaN,NaN,47.860631,NaN,NaN,...,NaN,19.361433,NaN,48.806327,22.877981,32.066743,NaN,14.882686,19.342902,NaN
Denmark,26.063465,NaN,19.192033,41.878052,18.472366,NaN,29.383255,NaN,NaN,NaN,...,16.168937,27.097054,NaN,51.353674,26.224192,NaN,NaN,22.390326,18.280377,10.862377
Estonia,NaN,NaN,33.229430,NaN,34.570361,NaN,5.737928,NaN,NaN,NaN,...,14.424253,35.949329,NaN,65.412553,36.916547,NaN,NaN,38.298333,34.995793,NaN
Finland,23.065994,NaN,29.330239,55.988755,34.504551,47.407977,33.284495,NaN,NaN,45.963292,...,29.512760,39.066901,12.761289,62.136370,37.623424,NaN,31.094278,31.401566,29.218804,63.206677
France,NaN,42.549810,17.585874,39.891105,18.830226,5.202024,39.500115,27.765986,13.821171,20.822145,...,60.578565,7.102464,35.682180,41.324725,28.000269,10.886749,21.902826,15.516868,23.831937,20.629544
Germany,30.222977,54.150232,12.624867,26.404277,18.568646,49.439063,30.324119,45.706560,23.135293,34.551735,...,33.149863,20.818987,37.865944,46.830241,18.481441,23.518799,12.961423,11.886423,15.423003,12.892465
Greece,NaN,53.783478,57.916666,63.704095,54.528539,NaN,NaN,NaN,NaN,NaN,...,NaN,47.635565,NaN,80.384717,69.987071,NaN,NaN,52.839691,58.172121,NaN
Hungary,NaN,NaN,21.582174,NaN,29.086305,NaN,NaN,NaN,NaN,NaN,...,NaN,20.378149,NaN,54.371187,30.948241,NaN,NaN,26.331135,27.012627,NaN
Ireland,NaN,NaN,23.771991,NaN,21.114941,NaN,NaN,NaN,NaN,NaN,...,NaN,19.520532,49.043383,44.099271,34.750092,27.510948,NaN,26.321499,28.018682,26.337086
Italy,NaN,20.331374,23.764958,42.759796,28.119203,17.009552,NaN,28.529581,NaN,NaN,...,40.096657,26.152954,42.278158,54.922534,32.669336,NaN,38.146499,23.816638,26.632704,26.932101
Latvia,NaN,NaN,31.816563,NaN,33.047421,NaN,0.962479,NaN,NaN,NaN,...,10.863689,42.017818,5.814834,65.647517,34.005253,NaN,NaN,30.965760,30.374862,NaN
Lithuania,66.238023,NaN,30.541257,NaN,33.348869,NaN,NaN,NaN,NaN,NaN,...,6.963156,44.510002,0.693350,66.672644,27.052701,NaN,NaN,31.676112,35.318786,NaN
Luxembourg,NaN,NaN,10.825364,NaN,11.533833,19.000729,NaN,NaN,NaN,NaN,...,NaN,20.800917,NaN,54.051998,21.268853,NaN,NaN,10.852548,17.000872,12.547365
Netherlands,38.734046,38.427263,8.860601,35.669714,4.008415,11.737751,26.594109,34.135454,24.599202,13.277115,...,29.070568,12.795490,26.961963,36.541580,13.953968,22.051132,3.193508,10.906617,13.000398,12.568267
Poland,33.619162,NaN,23.699151,7.690545,24.254184,NaN,13.522997,NaN,NaN,33.853398,...,12.834480,32.201623,10.300113,57.014507,21.806137,NaN,25.291510,22.456695,22.638061,16.099762
Portugal,NaN,42.059881,41.611405,NaN,39.463155,31.550826,NaN,12.395798,NaN,NaN,...,NaN,32.020698,NaN,1.729172,52.264704,NaN,NaN,39.394640,51.430086,NaN
Romania,NaN,99.597628,32.991363,48.315357,37.544752,NaN,NaN,58.554384,NaN,61.720826,...,NaN,41.208931,NaN,65.476386,41.053114,NaN,NaN,31.616821,37.790908,32.218581
Slovakia,NaN,NaN,17.406001,NaN,21.249073,NaN,NaN,NaN,NaN,NaN,...,NaN,23.695777,NaN,51.373441,29.984620,NaN,NaN,23.196105,28.646429,NaN
Slovenia,NaN,16.803651,24.999584,NaN,25.488364,44.083973,37.262558,NaN,NaN,NaN,...,NaN,29.129327,NaN,55.358821,48.590788,44.015469,NaN,21.012757,35.818766,NaN
Spain,NaN,40.101035,41.090922,57.158388,41.365115,19.621960,NaN,8.105701,NaN,NaN,...,NaN,27.688600,NaN,32.468765,50.386233,11.692742,NaN,34.608484,43.522331,NaN
Sweden,18.534644,9.629652,25.138182,185.965241,20.649315,34.062886,18.579966,44.116758,158.324823,10.032219,...,18.638747,29.819596,13.548747,51.892833,27.722087,35.471307,2.550157,24.446412,21.652989,19.061363
United Kingdom of Great Britain and Northern Ireland,NaN,43.902021,28.836673,47.491885,20.352845,10.912532,36.058795,32.468536,15.817526,16.175630,...,24.835807,21.269727,4.520494,42.553408,35.921730,19.818966,6.454183,28.343150,31.282420,18.763601

In [7]:
#Obtain combinations of 4 for all ASN
nASN = df.shape[1]
c = [x for x in combinations(list(range(nASN)), 4) ]
c = list(map(lambda elem: list(elem) , c))

In [8]:
#Getting the sum of min values of latency for selected ASN 
df.iloc[:, [0, 1, 2, 3]].min(1).sum()

755.7543060369551

In [9]:
df2 = df.values
df2

array([[36.61935678, 41.76768146, 26.7529584 , ..., 16.03860851,
        32.7061815 , 60.77371745],
       [50.25972229, 71.80250986, 12.45673754, ...,  9.29827999,
        18.45495327, 10.06376393],
       [        nan,         nan, 37.82934279, ..., 35.23831618,
        41.14655774, 34.10242738],
       ...,
       [        nan, 40.10103493, 41.0909224 , ..., 34.60848367,
        43.52233077,         nan],
       [18.53464441,  9.6296522 , 25.13818168, ..., 24.4464117 ,
        21.65298891, 19.06136325],
       [        nan, 43.90202097, 28.83667301, ..., 28.34315042,
        31.28241986, 18.76360122]])

In [13]:
#Exhaustive enumeration algortihm
def enumerationAlg(listIndex):
    i = listIndex[0]
    j = listIndex[1]
    k = listIndex[2]
    l = listIndex[3]
    return (np.nansum(np.nanmin(df2[:, [i, j, k, l]], axis = 1)))

In [10]:
len(c)

28342440

In [11]:
import operator as op
from functools import reduce

def ncr(n, r):
    r = min(r, n-r)
    numer = reduce(op.mul, range(n, n-r, -1), 1)
    denom = reduce(op.mul, range(1, r+1), 1)
    return numer / denom

In [12]:
ncr(163,4)

28342440.0

#The number of combinations is same above. Hence, the number of combinations is optimal. 
Do not run below.

In [14]:
#Running the algorithm for the combinations
st = time.time()
results = list(map(enumerationAlg , c))
et = time.time()
print(round(et-st,2))

C:\Users\Karanizer\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: RuntimeWarning: All-NaN slice encountered
  from ipykernel import kernelapp as app

597.21

In [15]:
#Saving the results, they are not attached as they are large in size but as you can see it takes around 10 min
#to run the above code if necessary

data = np.array(results)
np.savez("Data/results", data)
indexes = np.array(c)
np.savez("Data/indexes", indexes)

Start running

In [16]:
#Load the results 
a = np.load("Data/results.npz") #make sure you use the .npz!
b = a['arr_0']
lst = a.files
for item in lst:
    print(item)
    print(a[item])

arr_0
[755.75430604 742.51022534 699.56958401 ... 766.73105924 743.28869096
 734.30081718]

In [17]:
lst = a.files
for item in lst:
    print(item)
    print(a[item])

arr_0
[755.75430604 742.51022534 699.56958401 ... 766.73105924 743.28869096
 734.30081718]

In [18]:
#Load indexes list
a1 = np.load("Data/indexes.npz") #make sure you use the .npz!
b1 = a1['arr_0']
lst = a1.files
for item in lst:
    print(item)
    print(a1[item])

arr_0
[[  0   1   2   3]
 [  0   1   2   4]
 [  0   1   2   5]
 ...
 [158 159 161 162]
 [158 160 161 162]
 [159 160 161 162]]

In [19]:
#maximum latent value
minlatent = np.amin(b)
print(minlatent)

43.70753625622931

In [20]:
#Get position of maxlatent combination
pos = np.where(b == np.amin(b))

In [21]:
pos

(array([22364302, 22425578], dtype=int64),)

In [22]:
#Checking that position in indexes table

print(b1[22364302])
print(b1[22425578])

[ 52  54 122 146]
[ 52  66 122 146]

In [24]:
#Obtaining the ASN and country matrix for corresponding value
df.iloc[:, [52, 66, 122, 146]]

ASN,AS25151,AS30823,AS47869,AS60610
Country,,,,
Austria,16.601123,106.607949,15.568479,18.288481
Belgium,10.129796,15.705225,41.071473,23.973938
Bulgaria,NaN,NaN,NaN,NaN
Croatia,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN
Czechia,NaN,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN
Estonia,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN
Germany,10.025316,19.574280,35.957525,26.185254
Greece,NaN,NaN,NaN,NaN
Hungary,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN
Latvia,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN
Netherlands,3.223430,25.306029,8.734829,6.325226
Poland,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN
Romania,NaN,NaN,NaN,NaN
Slovakia,NaN,NaN,NaN,NaN
Slovenia,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN
Sweden,0.929297,16.653729,2.597707,3.732385
United Kingdom of Great Britain and Northern Ireland,8.684740,22.989454,NaN,3.831218

### Calculating the same with NAs filled with mean values ###

In [27]:
#Convert NA to mean to obtain the average values for all countries 
df_final2 = df_final.apply(lambda x: x.fillna(x.mean())) 
df_final2.head()

ASN,AS12552,AS12637,AS12676,AS12824,AS12859,AS12876,AS12993,AS13287,AS15401,AS15510,...,AS61272,AS62000,AS62282,AS62416,AS6724,AS8304,AS8315,AS8560,AS8893,AS9211
Country,,,,,,,,,,,,,,,,,,,,,
Austria,36.619357,41.767681,26.752958,69.742375,20.700903,23.581590,76.030970,28.567640,29.179260,86.795424,...,25.025426,30.225441,92.248862,65.340133,27.720250,83.395871,17.718057,16.038609,32.706182,60.773717
Belgium,50.259722,71.802510,12.456738,30.749242,10.999918,7.454970,35.651291,34.380554,16.864881,35.439629,...,30.459532,11.855867,28.136988,39.106969,18.569430,13.062580,31.738229,9.298280,18.454953,10.063764
Bulgaria,35.928599,42.388357,37.829343,37.680070,41.307183,24.697372,59.449729,42.000816,49.284187,54.443460,...,52.379982,40.181855,27.681254,68.995896,45.403018,29.408301,42.606843,35.238316,41.146558,34.102427
Croatia,35.928599,18.530777,28.010374,52.739260,29.112300,24.697372,31.595915,42.000816,41.378293,37.552261,...,27.000162,22.432474,27.681254,56.460065,50.835469,29.408301,21.241592,29.258586,33.511693,25.137273
Cyprus,35.928599,42.388357,143.658009,52.739260,140.625904,24.697372,31.595915,143.423033,41.378293,37.552261,...,27.000162,136.160994,27.681254,144.597993,150.948461,29.408301,21.241592,147.901064,148.636264,25.137273

In [28]:
df_mean = pd.DataFrame(df_final2)
df_mean2 = df_mean.values 

#Exhaustive enumeration algortihm
def enumerationAlg2(listIndex):
    i = listIndex[0]
    j = listIndex[1]
    k = listIndex[2]
    l = listIndex[3]
    return (np.sum(np.min(df_mean2[:, [i, j, k, l]], axis = 1)))

In [29]:
#Running the algorithm for the combinations
st = time.time()
results = list(map(enumerationAlg2 , c))
et = time.time()
print(round(et-st,2))

323.23

In [30]:
#Saving the results, they are not attached as they are large in size but as you can see it takes around 5 min
#to run the above code if necessary
data = np.array(results)
np.savez("Data/results2", data)

In [31]:
#Load teh results 
a = np.load("Data/results2.npz") #make sure you use the .npz!
b = a['arr_0']
lst = a.files
for item in lst:
    print(item)
    print(a[item])

arr_0
[618.56330311 610.35030459 508.60174455 ... 474.46294547 544.71234578
 480.68513089]

In [32]:
lst = a.files
for item in lst:
    print(item)
    print(a[item])

arr_0
[618.56330311 610.35030459 508.60174455 ... 474.46294547 544.71234578
 480.68513089]

In [33]:
#Load indexes list
a1 = np.load("Data/indexes.npz") #make sure you use the .npz!
b1 = a1['arr_0']
lst = a1.files
for item in lst:
    print(item)
    print(a1[item])

arr_0
[[  0   1   2   3]
 [  0   1   2   4]
 [  0   1   2   5]
 ...
 [158 159 161 162]
 [158 160 161 162]
 [159 160 161 162]]

In [34]:
#maximum latent value
minlatent = np.amin(b)
print(minlatent)

170.86695716375604

In [35]:
#Get position of maxlatent combination
pos = np.where(b == np.amin(b))

In [36]:
pos

(array([22415666], dtype=int64),)

In [37]:
#Checking that position in indexes table

print(b1[22415666])

[ 52  64 107 155]

In [39]:
#Obtaining the ASN and country matrix for corresponding value
df_mean.iloc[:, [52, 64, 107, 155]]

ASN,AS25151,AS29405,AS42442,AS62282
Country,,,,
Austria,16.601123,23.501301,6.696137,92.248862
Belgium,10.129796,22.874447,3.668655,28.136988
Bulgaria,8.265617,42.008326,30.006074,27.681254
Croatia,8.265617,11.126990,17.734063,27.681254
Cyprus,8.265617,155.745399,17.734063,27.681254
Czechia,8.265617,6.855647,19.003633,27.681254
Denmark,8.265617,34.943398,17.734063,27.681254
Estonia,8.265617,45.883477,17.734063,27.681254
Finland,8.265617,45.060574,17.734063,12.761289
France,8.265617,33.851210,9.161122,35.682180
Germany,10.025316,29.295189,3.769482,37.865944
Greece,8.265617,43.869191,36.953586,27.681254
Hungary,8.265617,5.218637,17.734063,27.681254
Ireland,8.265617,48.294018,22.198919,49.043383
Italy,8.265617,30.583792,14.894465,42.278158
Latvia,8.265617,37.076201,17.734063,5.814834
Lithuania,8.265617,28.952443,17.734063,0.693350
Luxembourg,8.265617,28.738636,4.538076,27.681254
Netherlands,3.223430,22.202929,8.428873,26.961963
Poland,8.265617,19.462442,17.734063,10.300113
Portugal,8.265617,52.651077,42.179599,27.681254
Romania,8.265617,27.436755,17.734063,27.681254
Slovakia,8.265617,0.954662,17.734063,27.681254
Slovenia,8.265617,11.277749,17.734063,27.681254
Spain,8.265617,45.533742,17.734063,27.681254
Sweden,0.929297,33.834250,14.870217,13.548747
United Kingdom of Great Britain and Northern Ireland,8.684740,39.585130,31.908042,4.520494